---
layout: default
---

<div class="medium">
  <p>I also blog on more random subjects and a better style, on <a href="https://medium.com/@diogosnows" target="_blank" alt="medium">Medium</a></p>
</div>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.content | truncatewords:40}}
      </div>
      <br/>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
