---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <hr/>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="tag_list">
    <p>
      {% for tag in page.tags %}
        <a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a>;
      {% endfor %}
    </p>
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
